<ion-header class="saved-trips-header">
  <ion-toolbar mode="ios">
    <ion-title>Chuyến đi cá nhân</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="saved-trips-content" [fullscreen]="true">
  <div class="content-inner ion-padding">
    <div *ngIf="isLoading" class="ion-text-center ion-padding">
      <ion-spinner></ion-spinner>
      <p>Đang tải dữ liệu...</p>
    </div>

    <div
      *ngIf="!isLoading && savedTrips.length === 0"
      class="ion-text-center no-data"
    >
      <ion-icon name="folder-open-outline" class="empty-icon"></ion-icon>
      <p>Bạn chưa lưu chuyến đi nào.</p>
    </div>

    <div *ngIf="!isLoading && savedTrips.length > 0">
      <app-explore-card
        *ngFor="let trip of savedTrips"
        [data]="trip"
      ></app-explore-card>
    </div>
  </div>
</ion-content>
