<div class="map-controls">
  <div class="zoom-controls">
    <ion-button fill="clear" (click)="onZoomIn()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <div class="divider"></div>
    <ion-button fill="clear" (click)="onZoomOut()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="locate-control">
    <ion-button fill="clear" (click)="onLocateUser()">
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-button>
  </div>
</div>
